@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
.InputField {
    text-align: center;
    font-size: 54px;
    font-family: Roboto;
}

.nametext {
    margin-top: 25px;
    text-align: center;
    font-size: 30px;
    font-family: Roboto;
}

.avatar {
    margin: 25px auto;
    display: block;
    width: 300px;
  }

.biotext {
    font-size: 20px;
    font-family: Roboto;
    word-wrap: break-word; 
}
.watermark{
 position:fixed;
 bottom:5px;
 right:5px;
 opacity:0.5;
}

.middle{
    width:600px;
    margin: 0 auto;
    text-align: center;
}